body,
h1,
h2,
h3,
p,
ul,
li,
header,
footer {
  margin: 0;
  padding: 0;
}

/* Setting default font family */
body {
  font-family: "Roboto", sans-serif;
}

/* Styling header */
header {
  background-color: #f06d06;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Styling navigation */
nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  /* Adjust padding as needed */
}

#search {
  padding: 8px;
  margin: 0 10px;
  border-radius: 5px;
  border: 2px solid #f06d06;
}

.nav-link:hover {
  color: #f06d06;
}

/* Styling container */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

/* Styling footer */
footer {
  background-color: #f06d06;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.active {
  color: #dc5b52;
}


.favorite:hover{
  color: #d90536b9;
  font-size: 20px;
}

.viewDetails {
  display: flex;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.viewDetails:hover {
  background-color: #0056b3;
}